*{
  /* background-color: rgb(24, 23, 23); */
  /* color: white; */
}

.debug{
  border: 1px dashed #adff2f;
  background-color: rgba(47, 0, 255, 0.899);
}

.debug_b{
  /* background-color: rgba(47, 0, 255, 0.899); */
  background-color: rgba(234, 234, 234, 0.899);
}